<strong>Olá, {{ student }}, seu pedido de auxílio foi respondido</strong>
<p>Seguem dados do pedido:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
</p>
