<strong>Bem vindo, {{ student }}</strong>
<p>Obrigado por se matricular na nossa unidade, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término do plano: </strong> {{ end_date }} <br />
  <strong>Valor total do plano: </strong> {{ price }}
</p>
